

/* Base Application Styles */

@font-face {font-family: "turn-arrow";
  src: url('../font/icons/turn-arrow.eot'); /* IE9*/
  src: url('../font/icons/turn-arrow.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/icons/turn-arrow.woff') format('woff'), /* chrome, firefox */
  url('../font/icons/turn-arrow.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/icons/turn-arrow.svg') format('svg'); /* iOS 4.1- */
}
html,body {
  background-color: #ddd;
  width:100%;
  height:100%;
}
#content{
  width:100%;
  height:100%;
}
#errors{
  display: none!important;
}

/* stage -- start */
.stage{
  position: relative;
  width:100%;
  height:100%;
}

/* stage -- end */

/* image -- start*/
.img-sec {
  position:relative;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;
 
 @at-root{
    .img-figure{
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      box-sizing:border-box;
      background-color:#fff;

      figcaption{
        text-align: center;
          .title-figure{
            margin: 20px 0 0 0;
            color:#a7a0a2;
            font-size: 16px;
          }
      }
    }
 }

}
/* image -- end*/


.img-figure{
  position: absolute;
  width:320px;
  height: 360px;
  margin:0;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;

  transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

}

.is-inverse {
    transform: translate(320px) rotateY(180deg);
}

.img-figure figcaption{
  text-align: center;
}

.img-back {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      padding: 50px 40px;
      overflow: auto;

      color: #a7a0a2;
      font-size: 22px;
      line-height: 1.25;
      text-align: left;

      background-color: #fff;

      box-sizing: border-box;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility: hidden;
}

.img-back p {
    margin: 0;
}

.img-figure .img-title{
  margin: 20px 0 0 0;
  color: #a0a7a2;
  font-size:16px;

}

/* controller-nav -- start*/
.controller-nav {
  position:absolute;
  left:0;
  bottom:100px;
  z-index: 101;
  width:100%;
  text-align: center;
}
.controller-unit{
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-color:#aaa;
  border-radius:50%;
  transform: scale(.5);
  vertical-align: middle;
}

.controller-unit.is-center {
  transform: scale(1);
  background-color:#888;
  transition: transform .6s ease-in-out, background .6s ease-in-out;
}
.controller-unit.is-center::after{
          font-family: "turn-arrow";
          content: '\E600';
          line-height: 27px;
          font-size: 20px;
          color:#fff;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
}
/* controller-nav -- end*/
.controller-unit.is-inverse{
  background-color:#555;
  transform: rotateY(180deg);
}